[phases.setup]
nixPkgs = ["go_1_23"]

[phases.install]
cmds = [
  "cd backend",
  "go env -w GO111MODULE=on",
  "go env -w GOPROXY=https://proxy.golang.org,https://goproxy.cn,https://goproxy.io,direct",
  "go env -w GOSUMDB=off",
  "go mod download || go mod download || go mod download"
]

[phases.build]
cmds = [
  "cd backend",
  "CGO_ENABLED=0 go build -ldflags='-w -s' -o ../main ./cmd/main.go"
]

[start]
cmd = "./main"
